{% extends "base.html" %}
{% block content %}
    
    <div class="container-md">
        <div class="bg-light p-5 rounded-lg m-3">
            <h1>Info about our company</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla assumenda reprehenderit consectetur? Aut deserunt iure ad minima enim. Mollitia, consequatur facilis qui aliquam voluptate consectetur quibusdam, reiciendis praesentium provident odio sequi nulla tempora tenetur illum quas error atque corporis! Ratione doloremque tempora hic ullam similique dolore? Non hic, consectetur, ducimus amet fugiat nobis eaque possimus quaerat omnis delectus harum, sint nam explicabo quae tempora sapiente optio? Dolore natus asperiores ab adipisci ullam quam repudiandae eligendi?</p>
        </div>
    </div>
{% endblock %}